.topic-container {
    .topic-item {
        display: inline-block;
        width: 100%;
        padding: 11px 10px;
        background: white;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 600;
        color: black;
        transition: all 0.1s;
        margin-bottom: 4px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        &:hover {
            background: #f7f7f7;
        }
        &:last-of-type {
            margin-bottom: 0 !important;
        }
    }
    .placeholder {
        height: 41px;
        border-radius: 10px;
        opacity: .7;
        margin-top: 0 !important;
        margin-bottom: 4px;
        .line {
            opacity: 0;
        }
        &:last-of-type {
            margin-bottom: 0 !important;
        }
    }
}