.topic-container {
    .topic-item {
        display: inline-block;
        width: 100%;
        padding: 11px 10px;
        background: white;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 600;
        color: black;
        margin-bottom: 4px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        transition: all .2s !important;
        &:hover {
            background-color: #eeeeee;
            transform: scale(.98);
        }
        &:focus {
            outline: 1px dashed black !important;
            outline-offset: 2px !important;
        }
        &:active {
            transform: scale(.95);
            outline: none !important;
        }
        &:last-of-type {
            margin-bottom: 0 !important;
        }
    }
    .placeholder {
        height: 41px;
        border-radius: 10px;
        opacity: 0.7;
        margin-top: 0 !important;
        margin-bottom: 4px;
        .line {
            opacity: 0;
        }
        &:last-of-type {
            margin-bottom: 0 !important;
        }
    }
    .empty-topics {
        display: inline-block;
        text-align: center;
        width: 100%;
        font-style: italic;
        opacity: 0.6;
        font-weight: 100;
    }
}