.ui.comments .reply.form textarea {
    height: 5em !important;
    margin-top: 20px;
}

.comments-group {
    .avatar {
        margin-top: 0 !important;
        img {
            border-radius: 1000px !important;
        }
    }
}

.empty-comments {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 20px 0 0 0;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.4);
    font-style: italic;
    letter-spacing: 0.3px;
}
