.event {
    border-radius: 0.28571429rem !important;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5 !important;
    background: white !important;
    margin-top: 20px !important;
    padding: 15px !important;
    width: 100% !important;
    .content {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        .meta {
            margin-top: 15px !important;
        }
    }
    .empty-feed {
        text-align: center;
        width: 100%;
        padding: 20px 0;
        i {
            color: #cecece;
            margin-bottom: 20px;
        }
        span {
            font-size: 18px;
            color: rgba(0, 0, 0, 0.87);
            font-style: italic;
            letter-spacing: 0.5px;
        }
    }
}

.ui.text.loader {
    top: auto !important;
    transform: translateX(-50%) translateY(30px) !important;
}
