html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}

.sidebar_left {
    float: left;
    width: 290px;
    .card {
        margin-bottom: 40px;
        .about-card-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .about-logo {
                display: block;
                width: 100%;
                text-align: center;
                color: #9aa1a5;
                font-size: 14px;
                img {
                    height: 20px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

@media (max-width: 1130px) {
    .sidebar_left {
        display: none;
    }
}