html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}

.sidebar_right {
    float: right;
    width: 290px;
    .card {
        margin-bottom: 40px;
        .card-item {
            display: inline-block;
            width: 100%;
            padding: 11px 10px;
            background: white;
            border-radius: 10px;
            font-size: 16px;
            font-weight: 600;
            color: black;
            transition: all 0.1s;
            margin-bottom: 4px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            svg {
                margin-right: 10px;
                opacity: 0.8;
            }
            transition: all 0.2s !important;
            &:hover {
                background-color: #eeeeee;
                transform: scale(0.98);
            }
            &:active {
                transform: scale(0.95);
                outline: none !important;
            }
            &:last-of-type {
                margin-bottom: 0 !important;
            }
        }
    }
}

@media (max-width: 1130px) {
    .sidebar_right {
        display: none;
    }
}
