@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'variables.scss';
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

#root,
.app {
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}

.ui.button {
    border-radius: 10px !important;
    transition: all 0.2s !important;
    &:hover {
        background-color: #eeeeee;
        transform: scale(0.98);
    }
    &:focus {
        outline: 1px dashed black !important;
        outline-offset: 2px !important;
    }
    &:active {
        transform: scale(0.95);
        outline: none !important;
    }
}

.input input,
input.search,
textarea {
    box-shadow: 0 0 0 3px transparent !important;
}

.input input:focus,
input.search:focus,
textarea:focus {
    box-shadow: 0 0 0 2px #85b7d9 !important;
}

.message {
    .header {
        box-shadow: none;
        background: none;
        margin: 0;
        line-height: unset;
        height: auto;
    }
}