@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'variables.scss';
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif !important;
}

#root,
.app {
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}

.ui.button {
    border-radius: 10px !important;
    transition: all 0.2s !important;
    &:hover {
        background-color: #eeeeee;
        transform: scale(0.98);
    }
    &:active {
        transform: scale(0.95);
        outline: none !important;
    }
}

.input input,
input.search,
textarea {
    box-shadow: 0 0 0 3px transparent !important;
}

.input input:focus,
input.search:focus,
textarea:focus {
    box-shadow: 0 0 0 2px #85b7d9 !important;
}

.message {
    .header {
        box-shadow: none;
        background: none;
        margin: 0;
        line-height: unset;
        height: auto;
    }
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select:focus,
textarea {
    font-size: 16px !important;
}

// App-Like feeling
@media (max-width: 768px) {
    html,
    body,
    #root,
    .app {
        position: fixed;
        top: 0;
        left: 0;
        .nav-header {
            position: fixed !important;
            z-index: 10;
            border-radius: 0 !important;
        }
        .main_content {
            display: inline-block;
            padding-top: 70px;
            overflow: auto;
            width: 100%;
        }
    }
}

// Font overwriting
.ui.button,
.ui.modal > .header,
h1,
h2,
h3,
h4,
h5,
input::placeholder,
.ui.message .header,
button,
input,
optgroup,
select,
textarea {
    font-family: 'PT Sans', sans-serif !important;
}

// Button overwriting
.ui.button {
    box-shadow: 0 0 0px 0px rgba(224, 225, 226, 0.6) !important;
    &:focus {
        box-shadow: 0 0 0px 3px rgba(224, 225, 226, 0.6) !important;
    }
}

.ui.button.primary {
    box-shadow: 0 0 0px 0px rgba(33, 133, 208, 0.4) !important;
    &:focus {
        box-shadow: 0 0 0px 3px rgba(33, 133, 208, 0.4) !important;
    }
}
